@page "/"
@using Microsoft.AspNetCore.SignalR
@using Microsoft.AspNetCore.SignalR.Client
@using SmartSheetLoader.Services
@using SmartSheetLoader.Models
@using SmartSheetLoader.SignalR
@using Syncfusion.Blazor.Notifications
@inject ISmartsheetClient SSC 

<PageTitle>Index</PageTitle>

<h1>Sheets</h1>

@* <ToastMessage></ToastMessage> *@


@if (sheets == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>accessLevel</th>
                <th>permalink</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var sheet in sheets.data)
            {
                <tr>
                    <td><a href="SheetGrouped/@sheet.id">@sheet.id</a></td>
                    <td>@sheet.name</td>
                    <td>@sheet.accessLevel</td>
                    <td><a href="@sheet.permalink" target="_blank">@sheet.permalink</a></td>
                </tr>
            }
        </tbody>
    </table>
}
@code {
    //SfToast ToastObj;
    private string ToastPosition = "Right";
    private SheetsResponse? sheets;
    private string message = "";
   

    protected override async Task OnInitializedAsync()
    {
       
        sheets = await SSC.GetSheetsAsync();
        await base.OnInitializedAsync();
    }
   

  
   
}
