@page "/sheetgrouped/{sheetId}"

@if (groupAvailable)
{
    <div class="form-group">
        <label for="GroupBy">Group By:</label>
        <InputSelect id="GroupBy" @bind-Value="selectedOption" class="form-control">
            <option value="**None">No Grouping</option>
            @foreach (var option in groupByOptions)
            {
                <option value="@option">@option</option>
            }
        </InputSelect>

    </div>
    <div class="form-group">
        <label for="SumBy">Sum By:</label>
        <InputSelect id="SumBy" @bind-Value="sumOption" class="form-control">
            <option value="**None">No Sum</option>
            @foreach (var option in sumOptions)
            {
                <option value="@option">@option</option>
            }
        </InputSelect>

    </div>
    @if (sheet != null)
    {
        <button type="submit" class="btn btn-primary" @onclick="@(() =>ProcessSubmit())">Submit</button>
    }
   
}
@if (sheet == null)
{
   <Spinner/>
}
else
{
    <h3>@sheet.name</h3>
   
        <table class="table">
            <thead>
                <tr>
                    @foreach (var column in sheet.columns)
                    {
                        <th>@column.title</th>
                    }

                </tr>
            </thead>
            <tbody>
                @foreach (var row in sheet.rows)
                {
                    <tr>
                        @foreach (var cell in row.cells)
                        {
                            <td>@cell.displayValue</td>
                        }


                    </tr>
                }
            </tbody>
        </table>
    @if (assignmentData != null)
    {
        <h3>Group by Country and State</h3>
        <button @onclick="UploadGroupingAsync">
            Upload Groupping
        </button>
        <table class="table">
            <thead>
                <tr>

                    <th>Country</th>
                    <th>State</th>
                    <th>Total Arr</th>


                </tr>
            </thead>
            <tbody>
                @foreach (var row in assignmentData)
                {
                    <tr>

                        <td>@row.country</td>
                        <td>@row.state</td>
                        <td>@row.arr</td>



                    </tr>
                }
            </tbody>
        </table>
    }

   

   
    
}

